version: '3.7'

services:
  pg_db:
    container_name: shop_core_db
    image: postgres:16
    volumes: 
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432
  pg_db_test:
    image: postgres:16
    container_name: shop_core_db_test
    volumes: 
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: shop_core_test
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432"

volumes:
  postgres_data: